.titulo-pelicula {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 10vh;
    font-size: 6.5vh;
    color: white;
    font-family: 'Coiny', cursive;
    text-decoration: underline;
}

.tagline-pelicula {
    color: rgb(219, 219, 219);
    text-align: center;
    font-size: 2.5vh;
    font-style: italic;
}

.tarjeta-pelicula {
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10px;
}

.espacio-vacio {
    height: 5vh;
}

.detalle-imagen{
    height: 90%;
    width: 90%;
    border-radius: 10px;
}

.contenido-pelicula {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    color: white;
    font-size: 2.5vh;
}

.contenido-texto-pelicula {
    padding-right: 1vw;
    margin-bottom: 2vh;
    font-family: 'Merriweather', serif;
}

.parrafos-contenido {
    font-weight: bold;
    font-size: 3vh;
    border-bottom: 1px white solid;
}

a {
    color: rgb(173, 10, 10);
}
a:hover {
    color: silver;
}
.div-li {
    padding-left: 2vw;
}
.logo-companies {
    height: 8vh;
    width: 8vw;
}