.image-small {
    height: 40vh;
    width: 20vw;
}

.letra-small {
    font-size: 10px;
}

.card {
    margin: 10px;
    color: white;
}

a {
    color: rgb(173, 10, 10);
}
a:hover {
    color: silver;
}