.movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
section{
    padding-top: 7px;
}
.brand-logo {
    padding-left: 20px;
}
.espacio {
    height: 3px;
}